body {
    background-color: hsl(32, 72%, 76%);
}
.main {
    display: flex;
    height: 100%;
    width: 540px;
    border: none;
    background-color: #fff;
    border-radius: 10px;
}

.main-section {
    display: flex;
    justify-content: center;
    margin-top: 9%;

}

@media (max-width: 555px ) {
    .main {
        flex-direction: column;
        width: 87%;
    }
    .main-section {
        margin-top: 10px;
        margin-bottom: 15px;
    }
}